<div class="card mt-2">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="{{ post.image }}" alt="Post" class="img-fluid rounded-start">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-title">{{ post.title}}</h5>
                    <span class="badge bg-dark mb-2">{{ post.platform }}</span>

                </div>
                <div class="card-text">{{ post.description }}</div>
                <div class="card-text">{{ post.owner.first_name }} {{ post.owner.last_name }}</div>
                <div class="card-text">{{ post.created_time }}</div>
                <div>
                    {% for label in post.label %}
                    <span class="badge bg-secondary">{{ label.name }}</span>
                    {% endfor %}
                </div>
                <a href="{{post.post_link}}" target="_blank">{{post.post_link}}</a>
                <div class="d-flex mt-2">
                    <a href="{{DOMAIN_URL}}/feed/post/{{post.id}}/" class="btn btn-sm btn-outline-dark">See
                        Details</a>
                    {% if post in user_liked_posts %}
                    <a href="{{DOMAIN_URL}}/feed/post/{{post.id}}/undo_like_post/"
                        class="btn btn-sm btn-outline-dark ms-2">Undo
                        Like</a>
                    {% else %}
                    <a href="{{DOMAIN_URL}}/feed/post/{{post.id}}/like_post/"
                        class="btn btn-sm btn-outline-dark ms-2">Like</a>
                    {% endif %}
                    {% if post in user_bookmarked_posts %}
                    <a href="{{DOMAIN_URL}}/feed/post/{{post.id}}/undo_bookmark_post/"
                        class="btn btn-sm btn-outline-dark ms-2">UndoBookmark</a>
                    {% else %}
                    <a href="{{DOMAIN_URL}}/feed/post/{{post.id}}/bookmark_post/"
                        class="btn btn-sm btn-outline-dark ms-2">Bookmark</a>
                    {% endif %}
                    <a href="{{DOMAIN_URL}}/feed/post/{{post.id}}/" class="btn btn-sm btn-outline-dark ms-2">Comment</a>
                </div>
            </div>
        </div>
    </div>
</div>