<nav id="sidebarMenu" class="h-100">
    <div class="pt-5">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link{% if request.path == '/feed/space/'%} active{% endif %}"
                    href="{{DOMAIN_URL}}/feed/space/">Spaces</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if request.path == '/feed/post/'%} active{% endif %}"
                    href="{{DOMAIN_URL}}/feed/post/">Recent Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if request.path == '/feed/space/own_spaces/'%} active{% endif %}"
                    href="{{DOMAIN_URL}}/feed/space/own_spaces/">Your Spaces</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if request.path == '/feed/post/own_posts/'%} active{% endif %}"
                    href="{{DOMAIN_URL}}/feed/post/own_posts/">Your Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if request.path == '/feed/post/liked_posts/'%} active{% endif %}"
                    href="{{DOMAIN_URL}}/feed/post/liked_posts/">Liked Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if request.path == '/feed/post/search_form/'%} active{% endif %}"
                    href="{{DOMAIN_URL}}/feed/post/search_form/">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if request.path == '/feed/space/list_moderator_requests/'%} active{% endif %}"
                    href="{{DOMAIN_URL}}/feed/space/list_moderator_requests/">Moderator Requests</a>
            </li>
        </ul>
    </div>
</nav>