{% extends 'base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data" action="{{DOMAIN_URL}}/user/change_password_request/">
  {% csrf_token %}

  {% if error %}
    <h6 class="text-danger">{{error}}</h6>
  {% endif %}

  <div class="mb-3">
    <label for="old_password" class="form-label">Old Password</label>
    <input id="old_password" class="form-control" type="password" name="old_password" value="{{ old_password }}"
      placeholder="Old Password" />
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input id="password" class="form-control" type="password" name="password" value="{{ password }}"
      placeholder="New Password" />
  </div>

  <div class="mb-3">
    <label for="password2" class="form-label">Old Password</label>
    <input id="password2" class="form-control" type="password" name="password2" value="{{ password2 }}"
      placeholder="New Password Confirmation" />
  </div>

  <button class="btn btn-dark">Submit</button>

</form>
{% endblock %}
