{% extends 'base.html' %}

{% block content %}
<div class="w-25 mx-auto">
  <form method="post" enctype="multipart/form-data" action="{{DOMAIN_URL}}/user/login/">
    {% csrf_token %}
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input id="email" class="form-control" type="email" name="email" value="{{email}}" required />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input id="password" class="form-control" type="password" name="password" value="{{password}}" required />
    </div>

    <div class="d-flex justify-content-end">
      <a href="{{DOMAIN_URL}}/user/reset_password_form/" class="btn btn-outline-dark" name="Reset Password">
        Forgot Your Password?
      </a>
      <button class="btn btn-dark ms-2" type="submit">Submit</button>
    </div>

  </form>
</div>
{% endblock %}