{% extends 'base.html' %}

{% block content %}
<button id="show-annotations" class="btn btn-sm btn-outline-dark">Show Annotations</button>
<button id="clear-annotations" class="btn btn-sm btn-outline-dark">Clear Annotations</button>
<div class="card mt-2">
  <div class="row g-0">
    <div class="col-md-3">
      <img src="{{ post.image }}" alt="Post" class="img-fluid rounded-start">
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="card-title">{{ post.title}}</h5>
          <span class="badge bg-dark mb-2">{{ post.platform }}</span>
        </div>
        <div class="card-text">
          <div id="annotated-description">{{ post.description }}</div>
        </div>
        <div class="card-text">{{ post.owner.first_name }} {{ post.owner.last_name }}</div>
        <div class="card-text">{{ post.created_time }}</div>
        <div>
          {% for label in post.label %}
          <span class="badge bg-secondary">{{ label.name }}</span>
          {% endfor %}
        </div>
        <a href="{{post.post_link}}" target="_blank">{{post.post_link}}</a>
        {% for label in post.label %}
        <span class="badge bg-dark mb-2">{{ label.name }}</span>
        {% endfor %}
        <div class="d-flex mt-2">
          {% if is_post_owner %}
          <a href="{{DOMAIN_URL}}/feed/post/{{post.id}}/edit_form/" class="btn btn-sm btn-outline-dark">Edit</a>
          <a href="{{DOMAIN_URL}}/feed/post/{{post.id}}/delete/" class="btn btn-sm btn-outline-danger ms-2">Delete</a>
          {% else %}
          {% if post in user_liked_posts %}
          <a class="btn btn-sm btn-outline-dark" href='{{DOMAIN_URL}}/feed/post/{{post.id}}/undo_like_post/'>Undo
            Like</a>
          {% else %}
          <a class="btn btn-sm btn-outline-dark" href='{{DOMAIN_URL}}/feed/post/{{post.id}}/like_post/'>Like</a>
          {% endif %}

          {% if post in user_bookmarked_posts %}
          <a class="btn btn-sm btn-outline-dark ms-2"
            href='{{DOMAIN_URL}}/feed/post/{{post.id}}/undo_bookmark_post/'>Undo Bookmark</a>
          {% else %}
          <a class="btn btn-sm btn-outline-dark ms-2"
            href='{{DOMAIN_URL}}/feed/post/{{post.id}}/bookmark_post/'>Bookmark</a>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


<form method="post" enctype="multipart/form-data" action="{{DOMAIN_URL}}/feed/post/{{post.id}}/add_comment/">
  {% csrf_token %}

  <div class="mb-3">
    <label for="comment" class="form-label">Add Comment</label>
    <textarea id="comment" class="form-control" name="comment" placeholder="Comment"></textarea>
  </div>

  <button class="btn btn-outline-dark">Submit</button>
</form>

<nav class="mt-3">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#comments"
      aria-selected="true">Comments</button>
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#annotations"
      aria-selected="false">Annotations</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="comments">
    {% for comment in comments %}
    <div class="card mt-2">
      <div class="card-body">
        <h5 class="card-title">{{ comment.user.first_name}} {{ comment.user.last_name }}</h5>
        <div class="card-text">{{ comment.created_time }}</div>
        <div class="card-text">{{ comment.comment}}</div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="tab-pane fade" id="annotations">
    {% for annotation in annotations %}
    <div id="{{annotation.id}}" class="card mt-2">
      <div class="card-body">
        <h5 class="card-title">{{ annotation.created_by.first_name }} {{ annotation.created_by.last_name }}</h5>
        <div class="card-text">{{ annotation.created_time }}</div>
        <div class="card-text">{{ annotation.body_description }}</div>
        <button class="btn btn-sm btn-outline-dark mt-2"
          onclick='showAnnotatedText("{{annotation.start}}", "{{annotation.end}}", "{{annotation.body_description}}")'>Show
          Annotation</button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  const r = Recogito.init({
    content: document.getElementById('annotated-description'),
    widgets: [
      { widget: 'COMMENT' }
    ],
  });

  r.setAuthInfo({id: '{{user.id}}', displayName: '{{user.first_name}} {{user.last_name}}'})

  const showAnnotationsButton = document.getElementById('show-annotations');
  const clearAnnotationsButton = document.getElementById('clear-annotations');

  clearAnnotationsButton.addEventListener('click', () => {
    r.clearAnnotations();
  })

  showAnnotationsButton.addEventListener('click', async () => {
    const response = await (await fetch('/feed/annotation/?source={{post.id}}')).json()

    const annotations = response.results.map(result => {
      return (
        {
          id: result.id,
          type: 'Annotation',
          body: result.replies.map(reply => (
            {
              type: 'TextualBody',
              value: reply.value,
              created: reply.created_time,
              creator: { name: `${reply.user.first_name} ${reply.user.last_name}`, id: reply.user.id }
            }
          )),
          target: {
            selector: [{
              type: 'TextPositionSelector',
              start: result.start,
              end: result.end
            }]
          }
        }
      )
    })
    r.setAnnotations(annotations)
  })

  r.on('createAnnotation', function (annotation) {
    const textPositionSelector = annotation.target.selector[1];
    fetch('/feed/annotation/',
      {
        method: "POST",
        mode: "same-origin",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": Cookies.get('csrftoken')
        },
        body: JSON.stringify({
          source_id: '{{post.id}}',
          selector_type: 1,
          type: "text_position_selector",
          created_by: '{{user.id}}',
          start: textPositionSelector.start,
          end: textPositionSelector.end,
          body: annotation.body[0].value
        })
      }
    )
  });

  r.on('deleteAnnotation', (annotation) => {
    fetch(`/feed/annotation/${annotation.id}/`,
      {
        method: "DELETE",
        headers: {
          "X-CSRFToken": Cookies.get('csrftoken')
        },
      },
    )
  })

  r.on('updateAnnotation', (annotation) => {
    const userId = '{{user.id}}'
    fetch(`/feed/annotation/${annotation.id}/sync_annotation_body/`,
      {
        method: "POST",
        mode: "same-origin",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": Cookies.get('csrftoken')
        },
        body: JSON.stringify(
          {
            annotation_id: annotation.id,
            body: annotation.body.map(annotationComment => {
              return { value: annotationComment.value, user_id: annotationComment.creator?.id || Number(userId) }
            })
          })
      }
    )
  })
</script>

{% endblock %}