{% extends 'base.html' %}

{% block content %}

<div class="card mt-2">
  <div class="row g-0">
    <div class="col-md-3">
      <img src="{{ post.image }}" alt="Post" class="img-fluid rounded-start">
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h5 class="card-title">{{ post.title}}</h5>
          <span class="badge bg-dark mb-2">{{ post.platform }}</span>
        </div>
        <div class="card-text">{{ post.description }}</div>
        <div class="card-text">{{ post.owner.first_name }} {{ post.owner.last_name }}</div>
        <div class="card-text">{{ post.created_time }}</div>
        <div>
          {% for label in post.label %}
          <span class="badge bg-secondary">{{ label.name }}</span>
          {% endfor %}
        </div>
        <a href="{{post.post_link}}" target="_blank">{{post.post_link}}</a>
        {% for label in post.label %}
        <span class="badge bg-dark mb-2">{{ label.name }}</span>
        {% endfor %}
        <div class="d-flex mt-2">
          {% if post in user_liked_posts %}
          <a class="btn btn-sm btn-outline-dark" href='{{DOMAIN_URL}}/feed/post/{{post.id}}/undo_like_post/'>Undo
            Like</a>
          {% else %}
          <a class="btn btn-sm btn-outline-dark" href='{{DOMAIN_URL}}/feed/post/{{post.id}}/like_post/'>Like</a>
          {% endif %}

          {% if post in user_bookmarked_posts %}
          <a class="btn btn-sm btn-outline-dark ms-2"
            href='{{DOMAIN_URL}}/feed/post/{{post.id}}/undo_bookmark_post/'>Undo Bookmark</a>
          {% else %}
          <a class="btn btn-sm btn-outline-dark ms-2"
            href='{{DOMAIN_URL}}/feed/post/{{post.id}}/bookmark_post/'>Bookmark</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


<form method="post" enctype="multipart/form-data" action="{{DOMAIN_URL}}/feed/post/{{post.id}}/add_comment/">
  {% csrf_token %}

  <div class="mb-3">
    <label for="comment" class="form-label">Add Comment</label>
    <textarea id="comment" class="form-control" name="comment" placeholder="Comment"></textarea>
  </div>

  <button class="btn btn-outline-dark">Submit</button>
</form>

{% for comment in comments %}
<div class="card mt-2">
  <div class="card-body">
    <h5 class="card-title">{{ comment.user.first_name}} {{ comment.user.last_name }}</h5>
    <div class="card-text">{{ comment.created_time }}</div>
    <div class="card-text">{{ comment.comment}}</div>
  </div>
</div>
{% endfor %}


{% endblock %}