{% extends 'base.html' %}

{% block content %}

<form method="post" enctype="multipart/form-data" action="{{DOMAIN_URL}}/feed/post/">
  {% csrf_token %}
  <h3>Create a Post</h3>

  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input id="title" class="form-control" type="text" name="title" value="{{ title }}" placeholder="Title" required />
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input id="description" class="form-control" type="text" name="description" value="{{ description }}"
      placeholder="Description" />
  </div>

  <div class="mb-3">
    <label for="post_link" class="form-label">Link</label>
    <input id="post_link" class="form-control" type="text" name="post_link" value="{{ post_link }}" placeholder="Link"
      required />
  </div>

  <div class="mb-3">
    <label for="platform" class="form-label">Platform</label>
    <input id="platform" class="form-control" type="text" name="platform" value="{{ platform }}"
      placeholder="Platform" />
  </div>

  <div class="input-group mb-3">
    <input type="file" class="form-control" id="image" name="image" placeholder="Choose a File">
  </div>

  <div class="mb-3">
    <style type="text/css">
      .bootstrap-tagsinput .tag {
        margin-right: 2px;
        color: white !important;
        background-color: #0d6efd;
        padding: 0.2rem;
      }
    </style>
      <div class="input-group mb-3">
        <input id="framework" type="text" class="form-control p-4" data-role="tagsinput" placeholder="Enter Non-Semantic Label" />
        <button id="btnAdd">Add</button>
      </div>
   </div>

  <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#labelModal">Add Semantic
    Label</button>

  <button class="btn btn-dark">Submit</button>

  <div class="modal fade" id="confirmationModal" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add existing link</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          This link already exists.
        </div>

        <div class="modal-footer">
          {% if confirmation_modal %}
          <input type="hidden" name="is_confirmed" value="True">
          {% endif %}
          <button class="btn btn-outline-dark" data-bs-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">No</button>
        </div>
      </div>

    </div>
  </div>
</form>

<div class="modal fade" id="labelModal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Label</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        {% for label in labels %}
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="label" name="label" value="{{label.id}}">
          <label class="form-check-label" for="label">
            {{label}}
          </label>
        </div>
        {% endfor %}
        <form id="data-form" method="get" enctype="multipart/form-data" action="{{DOMAIN_URL}}/feed/wikidata-search/"> 
          <div class="mb-3">
            <label for="search_keyword" class="form-label">Tag</label>
            <input id="search_keyword" class="form-control" type="text" name="search_keyword" placeholder="add tag"
              required />
            </div>
            <button class="btn btn-outline-dark" >Search Label</button>
        </form>
        <ul class="list-group semantic-tags mt-3" id="tag-list"></ul>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<h3>Recent Posts</h3>

{% for post in posts %}
{% include '_post.html' %}
{% endfor %}

<script>
  const wikidataSearchForm = document.getElementById('data-form')
  const tagList = document.getElementById('tag-list')
  const label = document.getElementById('search_keyword')
  
  const confirmationModal = new bootstrap.Modal('#confirmationModal')
  const isConfirmed = '{{confirmation_modal}}'

  if (isConfirmed) {
    confirmationModal.show();
  }
  wikidataSearchForm.addEventListener("submit", (e) => {
    e.preventDefault()
    fetch(`/feed/wikidata-search/?label=${label.value}`)
    .then(response => response.json())
    .then(data => {
      tagList.innerHTML = ""
      data.forEach(element => {
        const el = document.createElement('li')
        el.classList = 'list-group-item cursor-pointer'
        titleEl=document.createElement('h6')
        titleEl.innerHTML=element.label || "-"

        descriptionEl=document.createElement('p6')
        descriptionEl.innerHTML=element.description || "-"
        el.appendChild(titleEl)
        el.appendChild(descriptionEl)
        el.addEventListener("click", (e) => {
          console.log(element.label)
        }
        )
        tagList.appendChild(el)
      })
    })
  })
</script>

<script
src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>

<script>
const btnAdd = document.querySelector('#btnAdd');
const btnRemove = document.querySelector('#btnRemove');
const listbox = document.querySelector('#list');
const framework = document.querySelector('#framework');
btnAdd.addEventListener('click', (e) => {
  e.preventDefault();

  // validate the option
  if (framework.value.trim() === '') {
    alert('Please enter the name.');
    return;
  }

  const name = framework.value;

  // create a new option
  const option = new Option(name, name);

  // add it to the list
  listbox.add(option, undefined);

  // reset the value of the input
  framework.value = '';
  framework.focus();

  // send an AJAX POST request to the backend API
  fetch('/api/labels/', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ name: name })
  })
  .then(response => {
    if (response.ok) {
      return response.json();
    }
    throw new Error('Network response was not ok.');
  })
  .then(data => {
    console.log(data);
  })
  .catch(error => {
    console.error('There was a problem with the fetch operation:', error);
  });
});

btnRemove.addEventListener('click', (e) => {
  e.preventDefault();

  // save the selected options
  let selected = [];

  for (let i = 0; i < listbox.options.length; i++) {
    selected[i] = listbox.options[i].selected;
  }

  // remove all selected option
  let index = listbox.options.length;
  while (index--) {
    if (selected[index]) {
      listbox.remove(index);
    }
  }
});
</script>


{% endblock %}