{% extends 'base.html' %}

{% block content %}
<div class="w-25 mx-auto">
  <form method="post" enctype="multipart/form-data" action="{{DOMAIN_URL}}/user/">
    {% csrf_token %}

    <div class="mb-3">
      <label for="first_name" class="form-label">First Name</label>
      <input id="first_name" class="form-control" type="text" name="first_name" value="{{ first_name }}" required />
    </div>

    <div class="mb-3">
      <label for="last_name" class="form-label">Last Name</label>
      <input id="last_name" class="form-control" type="text" name="last_name" value="{{ last_name }}" required />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input id="email" class="form-control" type="email" name="email" value="{{ email }}" required />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input id="password" class="form-control" type="password" name="password" value="{{ password }}" required />
    </div>

    <div class="mb-3">
      <label for="password2" class="form-label">Password Confirmation</label>
      <input id="password2" class="form-control" type="password" name="password2" value="{{ password2 }}" required />
    </div>

    <div class="d-flex justify-content-end">
      <button class="btn btn-dark" type="submit">Submit</button>
    </div>

  </form>
</div>
{% endblock %}