{% extends 'base.html' %}

{% block content %}
<div style="max-width:580px; margin-left: auto; margin-right: auto">
  <h6 class="text-center">Reset password</h6>
  <form method="post" enctype="multipart/form-data" action="{{DOMAIN_URL}}/user/reset_password_request/">
    {% csrf_token %}

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input id="email" class="form-control" type="text" name="email" value="{{ email }}" placeholder="Email"
        required />
    </div>

    <button class="btn btn-dark">Submit</button>
  </form>
</div>
{% endblock %}
