{% extends 'base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data" action="{{DOMAIN_URL}}/feed/post/">
  {% csrf_token %}
  {% load static %}

  <button class="btn btn-outline-dark-2" type="button" onclick="window.location.href='{{DOMAIN_URL}}/feed/space/{{space.id}}/list_space_join_requests/'" >View Users</button>
  <button class="btn btn-dark ms-3" type="button" onclick="window.location.href='{{DOMAIN_URL}}/feed/space/{{space.id}}/'" >Space</button>

  {% if user_data.id is space.owner.id %}
  <button class="btn btn-outline-dark-2" type="button" onclick="window.location.href='{{DOMAIN_URL}}/feed/space/{{space.id}}/space_settings_form/'" >Settings</button>
  {% endif  %}


  <div class="text-align-left">
    <h1> </h1>
  </div>

  <div class="text-align-left">
    <h6>{{space.title}}</h6>
    <p>{{space.description}}</p>
  </div>

  {% if user_data in space.member or user_data.id is space.owner.id or user_data in space.moderator %}
  <h3>Create a Post</h3>

  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input id="title" class="form-control" type="text" name="title" placeholder="Title" />
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input id="description" class="form-control" type="text" name="description" placeholder="Description" />
  </div>

  <div class="mb-3">
    <label for="post_link" class="form-label">Link</label>
    <input id="post_link" class="form-control" type="text" name="post_link" placeholder="Link" />
  </div>

  <div class="mb-3">
    <label for="platform" class="form-label">Platform</label>
    <input id="platform" class="form-control" type="text" name="platform" placeholder="Like Twitter, Instagram, Tiktok etc." />
  </div>

  <input type="hidden" name="space" value="{{space.id}}">

  <div class="input-group mb-3">
    <input class="form-control" type="file" id="image" name="image" placeholder="Choose File">
  </div>

    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#myModal">Add
    Label</button>
  <button class="btn btn-dark ms-2">Submit</button>

  {% endif %}

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Label</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <ul>
            {% for label in labels %}
            <input type="checkbox" id="label" name="label" value={{label.id}}>
            <label for="label"> {{label}}</label><br>
            {% endfor %}
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-close" data-bs-dismiss="modal">Close</button>
        </div>
      </div>

    </div>

  </div>

</form>

{% for post in space.space_posts %}
{% include '_postSpace.html' %}
{% endfor %}

{% endblock %}