{% extends 'base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data" action="{{DOMAIN_URL}}/feed/space/">
    {% csrf_token %}
    <div class="row g-3">
        <div class="col-md-6">
            <label for="title" class="form-label">Title</label>
            <input id="title" class="form-control" type="text" name="title" placeholder="Title" required />
        </div>
        <div class="col-md-6">
            <label for="description" class="form-label">Description</label>
            <input id="description" class="form-control" type="text" name="description" placeholder="Description"
                required />
        </div>
        <div class="col-12">
            <button class="btn btn-outline-dark">Submit</button>
        </div>
    </div>
</form>

{% for space in spaces %}
{% include './_space.html' %}
{% endfor %}

{% endblock %}