{% extends 'base.html' %}
{% load static %}
{% block content %}

{% for post in posts %}
<div class="card mt-2">

  <div class="row g-0">
    <div class="col-md-3">
      <img src="{{ post.image }}" alt="Post" class="img-fluid rounded-start">
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h5 class="card-title">{{ post.title}}</h5>
        <div class="card-text">{{ post.description }}</div>
        <div class="card-text">{{ post.owner.first_name }} {{ post.owner.last_name }}{% if post.owner.badge %}
          <img src="{% static 'badges/'|add:post.owner.badge.name|add:'.png' %}" style="width:25px;height:25px;">
          {% endif %}</div>
        <div class="card-text">{{ post.created_time }}</div>
        <div>
          {% for label in post.label %}
          <span class="badge bg-secondary">{{ label.name }}</span>
          {% endfor %}
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <a href="{{post.post_link}}" target="_blank">{{post.post_link}}</a>
          <div class="d-flex flex-column">
            <span class="badge bg-dark mb-2">{{ post.platform }}</span>
            <a href="{{DOMAIN_URL}}/feed/post/{{post.id}}/" class="btn btn-sm btn-outline-dark">See Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endfor %}

{% endblock %}